fotter a:link visited {
    text-decoration: none;
}

p {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    color: #0F0;
}

.blue {
    color: #00F;
}

header {
    background-color: rgba(0,0,0,0.6);
    opacity: 0.6;
}
body {
    
}

ul {
    background-color: rgba(0,0,255,0.6);
}

ul {
   color: #F00;
}

a {
    color: #F0F;
}